/* Coolors Exported Palette - https://coolors.co/e36397-bc8da7-bdb4bf-2e294e-523249 */
$puce: #bc8da7ff;
$french-gray: #bdb4bfff;
$space-cadet: #2e294eff;
$violet-jtc: #523249ff;

/* SCSS HSL */
$thulian-pink: hsla(336, 70%, 64%, 1);
$puce: hsla(327, 26%, 65%, 1);
$french-gray: hsla(289, 8%, 73%, 1);
$space-cadet: hsla(248, 31%, 23%, 1);
$violet-jtc: hsla(317, 24%, 26%, 1);

/* SCSS RGB */
$thulian-pink: rgba(227, 99, 151, 1);
$puce: rgba(188, 141, 167, 1);
$french-gray: rgba(189, 180, 191, 1);
$space-cadet: rgba(46, 41, 78, 1);
$violet-jtc: rgba(82, 50, 73, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e36397ff, #bc8da7ff, #bdb4bfff, #2e294eff, #523249ff);
$gradient-right: linear-gradient(90deg, #e36397ff, #bc8da7ff, #bdb4bfff, #2e294eff, #523249ff);
$gradient-bottom: linear-gradient(180deg, #e36397ff, #bc8da7ff, #bdb4bfff, #2e294eff, #523249ff);
$gradient-left: linear-gradient(270deg, #e36397ff, #bc8da7ff, #bdb4bfff, #2e294eff, #523249ff);
$gradient-top-right: linear-gradient(45deg, #e36397ff, #bc8da7ff, #bdb4bfff, #2e294eff, #523249ff);
$gradient-bottom-right: linear-gradient(135deg, #e36397ff, #bc8da7ff, #bdb4bfff, #2e294eff, #523249ff);
$gradient-top-left: linear-gradient(225deg, #e36397ff, #bc8da7ff, #bdb4bfff, #2e294eff, #523249ff);
$gradient-bottom-left: linear-gradient(315deg, #e36397ff, #bc8da7ff, #bdb4bfff, #2e294eff, #523249ff);
$gradient-radial: radial-gradient(#e36397ff, #bc8da7ff, #bdb4bfff, #2e294eff, #523249ff);


// SECOND COLOR COMBINATION CHOICE

/* SCSS HEX */
$deep-sky-blue: #2ec0f9ff;
$ruddy-blue: #67aaf9ff;
$jordy-blue: #9bbdf9ff;
$columbia-blue: #c4e0f9ff;
$mulberry: #b95f89ff;
$russian-violet: #231651ff;
$caribbean-current: #16697aff;

/* SCSS HSL */
$deep-sky-blue: hsla(197, 94%, 58%, 1);
$ruddy-blue: hsla(212, 92%, 69%, 1);
$jordy-blue: hsla(218, 89%, 79%, 1);
$columbia-blue: hsla(208, 82%, 87%, 1);
$mulberry: hsla(332, 39%, 55%, 1);
$russian-violet: hsla(253, 57%, 20%, 1);
$caribbean-current: hsla(190, 69%, 28%, 1);

/* SCSS RGB */
$deep-sky-blue: rgba(46, 192, 249, 1);
$ruddy-blue: rgba(103, 170, 249, 1);
$jordy-blue: rgba(155, 189, 249, 1);
$columbia-blue: rgba(196, 224, 249, 1);
$mulberry: rgba(185, 95, 137, 1);
$russian-violet: rgba(35, 22, 81, 1);
$caribbean-current: rgba(22, 105, 122, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2ec0f9ff, #67aaf9ff, #9bbdf9ff, #c4e0f9ff, #b95f89ff, #231651ff, #16697aff);
$gradient-right: linear-gradient(90deg, #2ec0f9ff, #67aaf9ff, #9bbdf9ff, #c4e0f9ff, #b95f89ff, #231651ff, #16697aff);
$gradient-bottom: linear-gradient(180deg, #2ec0f9ff, #67aaf9ff, #9bbdf9ff, #c4e0f9ff, #b95f89ff, #231651ff, #16697aff);
$gradient-left: linear-gradient(270deg, #2ec0f9ff, #67aaf9ff, #9bbdf9ff, #c4e0f9ff, #b95f89ff, #231651ff, #16697aff);
$gradient-top-right: linear-gradient(45deg, #2ec0f9ff, #67aaf9ff, #9bbdf9ff, #c4e0f9ff, #b95f89ff, #231651ff, #16697aff);
$gradient-bottom-right: linear-gradient(135deg, #2ec0f9ff, #67aaf9ff, #9bbdf9ff, #c4e0f9ff, #b95f89ff, #231651ff, #16697aff);
$gradient-top-left: linear-gradient(225deg, #2ec0f9ff, #67aaf9ff, #9bbdf9ff, #c4e0f9ff, #b95f89ff, #231651ff, #16697aff);
$gradient-bottom-left: linear-gradient(315deg, #2ec0f9ff, #67aaf9ff, #9bbdf9ff, #c4e0f9ff, #b95f89ff, #231651ff, #16697aff);
$gradient-radial: radial-gradient(#2ec0f9ff, #67aaf9ff, #9bbdf9ff, #c4e0f9ff, #b95f89ff, #231651ff, #16697aff);